{
   "extends": [
      "react-app",
      "react-app/jest"
   ],
   "rules": {
      "react-hooks/exhaustive-deps": "off",
      "no-console": "warn",
      "quotes": [
         "error",
         "double"
      ],
      "jsx-quotes": [
         "error",
         "prefer-double"
      ],
      "semi": [
         "warn",
         "always"
      ]
   }
}